@import "tailwindcss";

*{
   
    font-family: "Roboto", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-variation-settings:
    "wdth" 100 !important;
}